body {
    background-color: limegreen;
}

#logo {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
}

.links > a {
    margin: 5px;
}

.article {
    position: flex;
    flex: 1;
    flex-wrap: nowrap;
}

#promotion {
    background-color: gold;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
}

.columns {
    align-self: center;
    background-color: seagreen;
    float: left;
    width: 33%;
    text-align: center;
}

.columns > img {
    width: 300px;
    height: 200px;
}

#footer-logo {
    width: 50%;
    float: left;
}

#footer-logo > img {
    width: 15%;
    height: 15%;
}

#footer-copyright {
    width: 50%;
    float: right;
    text-align: right;
}