* {
    font-family: Georgia;
}

body {
    background-color: limegreen;
}

#logo {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
}

.links > a:link, a:visited {
    background-color: lightgray;
    color: teal;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    transition-duration: 0.4s;
}

.links > a:hover {
    background-color: silver;
}

.links > a:active {
    background-color: darkgray;
}

.article {
    position: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#promotion {
    background-color: gold;
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    transition-duration: 0.5s;
}

#promotion:hover {
    background-color: darkgoldenrod;
}

.columns {
    align-self: center;
    background-color: seagreen;
    float: left;
    width: 33%;
    text-align: center;
    transition-duration: 0.5s;
}

.columns:hover {
    opacity: 0.75;
}

.columns > img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

#footer-logo {
    width: 50%;
    float: left;
}

#footer-logo > img {
    max-height: 150px;
    max-width: 200px;
}

#footer-copyright {
    width: 50%;
    float: right;
    text-align: right;
}