#logo {
    display: block;
    max-width: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
}

.footer-logo {
    width: 50%;
    float: left;
}

.footer-logo img {
    width: 25%;
    height: 25%;
}

.footer-copyright {
    width: 50%;
    float: right;
}